@charset "UTF-8";

.page {
    width: 1280px;
    margin: 0 auto;
}

body {
    background-color: #2F2E41;
    color: white;
    margin: 0 auto;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 306px;
    list-style: none;
    font-family: "JetBrains Mono", monospace;
    font-weight: medium;
}

a {
    color: white;
    text-decoration: none;
    line-height: 28px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 81px auto 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 605px;
}

h1 {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}

span {
    color: #00BFA6;
}

p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #C2C2C2;
}

.line {
    width: 568px;
    height: 1px;
    background-color: #00BFA6;
    margin: 157px auto 0;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
}

footer p {
    font-size: 14px;
    line-height: 28px;
    padding-top: 27px;
    margin: 0;
}

#padlock {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}