@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #121214;
    --bg-card-color: #202024;
    --h1-color: #02799D;
    --text-color: #C4C4CC;
    --stronger-text-color: #E1E1E6;
    font-family: "Mulish", sans-serif;
}

body {
    display: grid;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: grid;
    gap: 0.5rem;
    padding: 4.5rem 4rem 0;
}

h1 {
    color: var(--h1-color);
    font-size: 3.6rem;
    font-weight: 900;
}

header p {
    color: var(--stronger-text-color);
    font-size: 2em;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 2.75rem 3.75rem;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    padding: 4rem 4rem;
}

.card {
    width: 23em;
    height: 30em;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card h2 {
    padding: 0.5em 0.5em 0;
}

.card p {
    text-align: justify;
    padding: 1em;
}

h2 {
    color: var(--stronger-text-color);
    font-size: 2.2em;
    font-weight: 900;
}

p {
    font-size: 1.2em;
    font-weight: 600;
}