@charset "UTF-8";

:root {
    --bg-color-body: white;
    --bg-color-search: #EEEEEE;
    --bg-color-main: #F5F5F5;
    --color-search: #3D3D3D;
    --color-text: #202024;

    font-family: "Mulish", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color-body);
    color: var(--color-text);
}

.app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: min(100rem, 100%);
    padding: 1rem 7rem;
    margin: 0 auto;
}

header,
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 5em;
}

nav ul {
    list-style: none;
    font-weight: bold;
}

ul li:nth-child(1) {
    color: #8D8D99;
}


form {
    flex: 1;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wraper input {
    width: 100%;
    background-color: var(--bg-color-search);
    border: none;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    
    font-weight: 600;
    
    padding: 1rem;
}

.input-wraper input::placeholder {
    opacity: 0.56;
    color: var(--color-search);
}

.avatar {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    background-color: var(--bg-color-main);
    overflow-y: scroll;
}