@charset "UTF-8";

:root {
    --bg-color-body: white;
    --bg-color-search: #EEEEEE;
    --bg-color-main: #F5F5F5;
    --color-search: #3D3D3D;
    --color-text: #202024;
    --color-footer: #323238;

    font-family: "Mulish", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color-body);
    color: var(--color-text);
}

.app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: min(100rem, 100%);
    padding: 1rem 7rem;
    margin: 0 auto;
}

header,
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 5em;
}

header {
    --startY: -100%;
    animation: move .4s;
}

nav ul {
    list-style: none;
    font-weight: bold;
}

ul li:nth-child(1) {
    color: #8D8D99;
}

form {
    flex: 1;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wraper input {
    width: 100%;
    background-color: var(--bg-color-search);
    border: none;
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    
    font-weight: 600;
    
    padding: 1rem;
}

.input-wraper input::placeholder {
    opacity: 0.56;
    color: var(--color-search);
}

.avatar {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    background-color: var(--bg-color-main);
    overflow-y: scroll;
    padding: 1rem 7rem;

}

main > div.container {
    flex-direction: column;
    max-width: 76rem;
    padding: 0;
    margin: 0 auto;
}

.container h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}


.item {
    background-color: var(--bg-color-body);
    border-radius: 8px;
    overflow: hidden;
}

.item img {
    width: 25rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 12rem;
    border-radius: 8px 8px 0 0;
    transition: all 200ms ease-out;
}

.item img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.details {
    min-height: 5rem;
    padding: 1.5rem;
}

.details h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom:1rem;
}

.tags span {
    width: 2.5rem;
    height: 1.5rem;
    background-color: var(--bg-color-main);
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 2em;
    padding: 0.5rem;
}

footer {
    --startY: 100%;
    animation: move .4s;
}

footer p {
    color: var(--color-footer);
    font-weight: 600;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}