@charset "UTF-8";

/* Landscape Phone */

:root {
    --bg-url: url(../images/bg-dark-full.jpg);
    --switch-bg-url: url(../images/moon.svg);
    --stroke-collor: rgba(211, 188, 255, 0.5);
    --stroke-collor-hover: rgba(211, 188, 255, 0.932);
    --highlight-color: rgba(211, 188, 255, 0.2);
    --surface-color: rgba(211, 188, 255, 0.05);
    --surface-color-hover: rgba(18, 9, 29, 0.02);
    --text-color: white;
    --font: Arial, Helvetica, sans-serif;
}

.light-mode {
    --bg-url: url(../images/bg-light-full.jpg);
    --switch-bg-url: url(../images/sun.svg);
    --stroke-collor: rgba(6, 5, 7, 0.5);
    /*--highlight-color: ;*/
    --surface-color: rgba(6, 5, 7, 0.05);
    --surface-color-hover: rgba(18, 9, 29, 0.02);
    --text-color: black;
}

@media screen and (min-width: 700px) {
   /* html {
        max-height: 370px;
        overflow-y: hidden;
    }*/

    body {
       /* border: 1px solid rgba(248, 0, 236, 0.651);*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        overflow-y: hidden;
        
    }

    header {
        /*border: 1px solid rgba(0, 126, 6, 0.363);*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 12px 0px 0px 20px;
        max-height: 275px;
    }
    
    header h1 {
        font-size: 1.8em;
        margin-top: 10px;
    }
    
    main {
       /* border: 1px solid rgba(0, 4, 248, 0.356);*/
        flex-direction: row;
        align-content: space-evenly;
        align-self: flex-start;
        max-width: 433px;
        margin: 0;
    }

    div#switch {
       /* border: 1px solid rgba(0, 211, 248, 0.651);*/
        display: flex;
        align-self: center;
        right: 8%;
        transform: rotate(0.25turn);
        height: 24px;
        margin: 0;
        margin-bottom: 100px;
    }

    section#btns {
        /*border: 1px dashed rgba(248, 0, 0, 0.76);*/
        display: flex;
        flex-flow: row;
        justify-content: end;
        position: relative;
        right: 3%;
        margin-left: 10px;
    }

    #btns > ul {
        /*border: 1px dashed rgba(255, 255, 255, 0.322);*/
        align-items: center;
        justify-content: start;
    }

    #btns > ul > li {
        min-width: 370px;
        
    }
    
    #btns > ul > li > a:hover {
        background: var(--surface-color-hover);
        border: 1.99px solid var(--stroke-collor-hover);
    }

    section#social {
        /*border: 1px solid rgba(255, 255, 0, 0.315);*/
        width: 300px;
        left: 16%;
        top: 70%;
        padding-top: 8px;
    }

    #social a {
        padding: 10px;
        border-radius: 50%;
        transition: background 0.2s;
    }

    footer {
        /*border: 1px solid lightgray;*/
        display: flex;
        align-self: flex-start;
        font-size: 0.89em;
        top: -42px;
        padding: 0;
        margin: 0px 0px 5px 70px;
    }
}
