@charset "UTF-8";

/* Landscape Phone */

:root {
    --bg-url: url(../images/bg-night-full.jpg);
    --switch-bg-url: url(../images/moon.svg);
    --stroke-collor: rgba(211, 188, 255, 0.5);
    --stroke-collor-hover: rgba(211, 188, 255, 0.932);
    --highlight-color: rgba(211, 188, 255, 0.2);
    --surface-color: rgba(211, 188, 255, 0.05);
    --surface-color-hover: rgba(18, 9, 29, 0.02);
    --text-color: white;
    --font: Arial, Helvetica, sans-serif;
}

.light {
    --bg-url: ;
    --switch-bg-url: url(../images/sun.svg);
    --stroke-collor: rgba(6, 5, 7, 0.5);
    --highlight-color: ;
    --surface-color: rgba(6, 5, 7, 0.05);
    --surface-color-hover: rgba(18, 9, 29, 0.02);
    --text-color: black;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        display: flex;
        flex-direction: column;
        float: left;
        max-height: 280px;
    }
    
    header h1 {
        font-size: 1.8em;
        margin-top: 10px;
    }
    
    main {
        border: 1px solid green;
        flex-direction: row;
        align-content: flex-start;
        float: right;
        max-width: 480px;
    }

    div#switch {
        display: flex;
        top: 10%;
        right: 8%;
        transform: rotate(0.25turn);
        height: 24px;
        border: 1px solid yellow;
    }

    section#btns {
        border: 1px solid red;
        display: flex;
        align-self: flex-start;
        width: 98vw;
        max-width: 99vw;
        height: 300px;
        right: 3%;
    }

    #btns > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        max-width: 200px;
        gap: 1px;
        padding-top: 24px;
        padding-bottom: 8px;
    }

    #btns > ul > li {
        display: flex;
    }
    
    #btns > ul > li > a {
        display: flex;  
        background: var(--surface-color);
        border: 1px solid var(--stroke-collor);
        border-radius: 16px;
    
        text-decoration: none;
        font-weight: bold;
    
        padding: 16px 24px;
        transition: background 0.3s;
    }
    
    #btns > ul > li > a:hover {
        background: var(--surface-color-hover);
        border: 1.99px solid var(--stroke-collor-hover);
    }

    section#social {
        display: block;
        align-self: flex-end;
        border: 1px solid blue;
        width: 300px;
    }
    
}