@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bg-url: url(../images/bg-night-mobile.jpg);
    --switch-bg-url: ;
    --stroke-collor: ;
    --highlight-color: ;
    --surface-color: ;
    --surface-color-hover: ;
    --text-color: ;
}

.light {
    --bg-url: ;
    --switch-bg-url: ;
    --stroke-collor: ;
    --highlight-color: ;
    --surface-color: ;
    --surface-color-hover: ;
    --text-color: ;
}

body {
    background: var(--bg-url) no-repeat bottom center/cover;
    height: 100vh;
}

body * {
    font-family: Arial, Helvetica, sans-serif; /* A DEFINIR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: var(--text-color);
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    border: 4px solid rgba(68, 47, 109, 0.11);
    border-radius: 50%;
    box-shadow: -9px -4px 10px rgba(0, 0, 0, 0.438);
}

header p {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: 1px solid red;
    height: 50%;
    margin: 50px auto;

}

footer {
    text-align: center;
    color: white;
}