/* Mobile First */

@charset "UTF-8";

:root {
    --bg-color-body: #FFFFFF;
    --bg-color-header: #065E7C;
    --bg-color-search: #FFFFFF33;
    --bg-color-footer: #387E96;

    --text-color-all:#121214;
    --text-color-hea-foo: #FFFFFF;
    --text-color-titles: #202024;

    font-family: "Mulish", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color-body);
    color: var(--text-color-all);
}

.page {
    display: grid;
    grid-template-rows: max-content 1fr .5fr max-content;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-header);
    color: var(--text-color-hea-foo);
    gap: 1.5rem;
    padding: 0.75rem 1.75rem;
}

header img {
    width: 2.5rem;
    height: 2.5rem;
}

header img:nth-child(3) {
    border-radius: 50%;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

form {
    flex: 1;
    max-width: 20rem;
}

.input-wraper input {
    width: 100%;
    background-color: var(--bg-color-search);
    border: none;
    border-radius: .25rem;
    padding: 0.75rem .80rem;
}

.input-wraper input::placeholder {
    color: var(--text-color-hea-foo);
    font-family: "Mulish";
    font-size: 1rem;
    opacity: 100%;
}

main > div.container {
    flex-direction: column;
    width: 100%;

}

article {
    margin-bottom: 2rem;;
}

article img#banner {
    width: 100%;
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.1rem;
    line-height: 160%;
    font-weight: 500;
    padding: 1.5rem 1.5rem 2rem;
    margin: 0 auto;
}

.button-wraper {
    display: flex;
    gap: 1rem;
}

.article-header button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-color-header);
}

article p {
    text-indent: 2rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 160%;
    padding-inline: 1.5rem;
}

aside {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem 2.5rem;
}

aside h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside li {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    list-style: none;
}

.aside-wraper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

aside h3 {
    color: var(--text-color-titles);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 100%;
}

aside p {
    font-size: .9rem;
    line-height: 160%;
}

footer {
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-footer);
    color: var(--text-color-hea-foo);
    font-weight: 500;
    padding: 1rem;
}
