@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #BFD7E4;
    position: relative;
    font-family: "Poppins", sans-serif;
}

body::before {
    content: '';
    background-color: #293241;
    width: 100%;
    height: 465px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body::after {
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 750px;
    padding-top: 107px;
}

header h1 {
    font-family: "Staatliches", sans-serif;
    font-size: 36px;
}

header img {
    width: 225px;
    height: 100px;
    margin: 23px auto 32px;
}

main {
    background-color: white;
    width: 750px;
    border-radius: 0px 0px 20px 20px;
    padding: 32px 64px 64px;
    margin-bottom: 64px;
}

fieldset {
    list-style: none;
    border: none;
}

div#top-container {
    background-color: #F67669;
    width: 750px;
    border-radius: 20px 20px 0 0;
}

legend#user-i {
    color: white;
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    padding: 50px;
}

.info-wraper{
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.label-col {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
}

label {
    color: #4E4958;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

input {
    background-color: #FAFAFC;
    border: 2px solid #E6E6F0;
    width: 100%;
    height: 54px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.info-wraper input {
    width: 300px;
}

input#user-email {
    margin-top: 8px;
    margin-bottom: 32px;
}

span {
    color: #C1BCCC;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 20px;
}

legend#mentor-i, 
legend#schedule {
    color: #253B51;
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    line-height: 34px;
    margin: auto;
}

.line {
    background-color: #E6E6F0;
    width: 100%;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 32px;
}

#mentor-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

select#mentor-name {
    background-color: #FAFAFC;
    border: 2px solid #E6E6F0;
    width: 300px;
    height: 54px;
    border-radius: 8px;
}

input#mentor-feedback {
    width: 100%;
    height: 167px;
    text-align: justify;
}

.checkbox-wraper label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}

.checkbox-wraper input {
    display: none;
    margin-bottom: 0;
}

.checkbox-wraper label::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #FAFAFC;
    border: 2px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wraper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M416 128L192 384l-96-96'/%3E%3C/svg%3E");
}

.next-mentoring {
    display: flex;
    gap: 10px;
}
.next-mentoring input {
    width: 140px;
}

input#next-date {
    width: 300px;
    margin-right: 22px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 51px;
    background-color: #F67669;
    padding: 12,5px;
    border-radius: 8px;
    margin-top: 64px;
}

footer button {
    background: none;
    color: white;
    font-family: "Staatliches", sans-serif;
    font-size: 20px;
    line-height: 26px;
    border: none;
}